<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.full_name %></h1>
    <p>
      Bienvenido al Sistema de Control de Accesos.
    </p>
    <p>
      Se te ha asignado la siguiente contraseña: <%= @password %>
    </p>
  </body>
</html>