
.modal-content{
  z-index: 1050;
  width: 44%;
  margin-left: 36%;
  margin-top: 8%;
}

.checkin{
  color: #fff;
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
  border-radius: 5px;
  text-align: center;
}

.checkout{
  color: #fff;
  background-color: #d9534f;
  border: 2px solid #d9534f;
  border-radius: 5px;
  text-align: center;
}