<div class="card">
  <div class="content">
    <div class="header card-header-text sical-card-header">
      <h1 class="page-header title sical-card-title">Empleados <small>Nuevo</small></h1>
    </div>
    <%= render 'form', user: @user, method: :put, path: web_user_path, current_action: "edit" %>
  </div>
</div>