<div class="material-datatables">
  <table id="employee-datatable" class="table table-hover sical-data-table" >
    <thead>
      <tr>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% workdays.each do |workday| %>
        <td>
          <% workday.data.each do |worked_days| %>
            <% if worked_days.status == "in" %>
              <div class="checkin">
                Entro: <%= Time.parse(worked_days.time).strftime("%I:%M%p") %>
              </div>
            <% else %>
              <div class="checkout">
                Salio: <%= Time.parse(worked_days.time).strftime("%I:%M%p") %>
              </div>
            <% end %>
            <br>
          <% end %>
        </td>
      <% end %>
      <td><%= amount_time %> minutos</td>
    </tbody>
  </table>
</div>