<section class="employees-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Reportes
        </h1>
      </div>
      <div class="employees-content">
        <div id="employees-table">
          <%= render 'report', workdays: @workdays, amount_time: @amount_time %>
        </div>
      </div>
    </div>
  </div>
</section>