<footer class="footer page-footer">
  <div class="footer-elements">
    <div>
      <h7>Sistema de control de horarios de trabajo</h7><br />
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/pucp/">
        <i class="fa fa-facebook-official" aria-hidden="true"></i>       
      </a>
      <a href="https://twitter.com/pucp/">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.youtube.com/user/pucp">
        <i class="fa fa-youtube-square" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/company/pucp/">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
