<div class="sidebar sical-sidebar">
  <div class="logo sical-sidebar-logo">
    <a href="/" class="simple-text">
      <%#= SystemParameter.get_name_in_our_environment(current_user) %>
    </a>
  </div>
  <div class="logo logo-mini sical-sidebar-mini-logo">
    <a href="/" class="simple-text">
      LI
    </a>
  </div>
  <div class="sidebar-wrapper sical-sidebar-wrapper">
    <ul class="nav flex-column">
    </ul>
  </div>
</div>